<!DOCTYPE HTML>
<!--Pour que les "th" de thymeleaf fonctionnent dans le fichier pour faire des boucle, il faut declarer qu'on utilise thymeleaf ici-->
<html xmlns:th="http://www.thymeleaf.org" >
    <head >
        <title >Mcommerce</title >
        
        <link rel="stylesheet"
              type="text/css"
              href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    </head >
    
    
    <body >
        <div class="container" >
            
            <h1 class="text-center" >Application Mcommerce</h1 >
            
            <!--            Boucle dans thymleaf opur affichage des produits dans l'ihm -->
            <div class="row" >
                <!--  La var "produits" recus du Controller  doit etre imperativment la meme (orthographe) que celle
                qu'on a declarée dans le controller, au niveau de model.addAttribute() -->
                <div th:each="produit : ${produits}" class="col-md-4 my-1" >
                    <!-- Ceci est l'URL vers chaque produit dans le HTML-->
                    <a th:href="@{|/details-produit/${produit.id}|}" >
                        <img th:src="${produit.image}" class="card-img-top" />
                        <p th:text="${produit.titre}" ></p >
                        <p >
                            <input type="submit" th:src="${produit.image}" class="card-img-top"
                                   th:text="${produit.titre}" />
                        </p >
                    </a >
                </div >
            </div >
        </div >
        
        <script type="text/javascript"
                src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js" ></script >
    
    </body >
</html >